# Removed model/inference dependencies for lightweight deployment
uvicorn
fastapi
annoy
transformers
inflect
requests
numpy

gql
pandas
flask
flask-cors
Pillow
tqdm

nltk
spacy
torchvision
beautifulsoup4
