
# Removed model/inference dependencies for lightweight deployment

uvicorn
fastapi
annoy
transformers
inflect
requests
numpy

gql
pandas
flask
flask-cors
Pillow
tqdm

nltk
spacy

en_core_web_sm

beautifulsoup4
